* {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Alegreya Sans", sans-serif;
  background: black;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.header-container {
  background: whitesmoke;
  width: 80%;
  height: 7rem;
}
.header-bar {
  justify-content: space-between;
  width: inherit;
  height: 3rem;
  flex-grow: 1;
}
.header-tab,
.header-tab--logo {
  width: 20rem;
  height: 3em;
  justify-content: center;
  align-items: center;
}
.header-tab {
  color: white;
  background: black;
}

.header-tab--logo {
  background: white;
}
.header-tab p,
.header-tab--logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.header-tab:hover {
  background: #54be90;
  color: #444444;
  cursor: pointer;
}
main {
  width: 80%;
}
.hero-name {
  background: url(img/headerback.jpg);
  background-repeat: no-repeat;

  background-size: 100% 100%;
  color: aliceblue;
  align-items: center;
  justify-content: space-around;
  height: 20rem;
}
.hero-text {
  text-align: left;
  font-size: 2.5em;
  line-height: 0%;
}
.hero-text span {
  color: #54be90;
  font-weight: bold;
  text-decoration: underline white;
}

.work {
  width: 100%;
  background: white;
}
.work p {
  text-align: center;
  font-size: 1.2em;
  padding: 2em;
}
